<!doctype html>
<html>
<head>
    <!--wap-->
    <meta charset="utf-8">
    <!-- width取值与页面定义的宽度一致 -->
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <!-- 百度禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>940电商学院 - 最专业的淘宝电商培训，店铺运营推广，电商培训领导者</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="content/themes/schedule.css"/>
    <!--js-->
    <script type="text/javascript" src="scripts/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="scripts/js/slideout.min.js"></script>
    <script type="text/javascript" src="scripts/schedule.js"></script>
</head>

<body>

<!-- 左侧栏菜单 -->
<div id="menu" class="menu">
    <ul>
        <li>
            <a href="login.html">
                <i class="menu-icon1"></i>
                <span>登录</span>
            </a>
        </li>
        <li>
            <a href="views.html">
                <i class="menu-icon2"></i>
                <span>电商工具</span>
            </a>
        </li>
        <li>
            <a href="shopGuide.html">
                <i class="menu-icon3"></i>
                <span>开店指南</span>
            </a>
        </li>
        <li>
            <a href="hot.html">
                <i class="menu-icon4"></i>
                <span>视频教程</span>
            </a>
        </li>
        <li>
            <a href="successful.html">
                <i class="menu-icon5"></i>
                <span>成功案例</span>
            </a>
        </li>
        <li>
            <a href="lecturer.html">
                <i class="menu-icon6"></i>
                <span>讲师团队</span>
            </a>
        </li>
        <li>
            <a href="javascript:loginOut();">
                <i class="menu-icon7"></i>
                <span>退出登录</span>
            </a>
        </li>
    </ul>
</div>

<!-- 商品面板 -->
<div id="main" class="panel">
    <!-- header -->
    <header class="header">
        <div class="header-user js-slideout-toggle"><i></i></div>
        <a href="login.html" class="header-menu"><i></i></a>
        <div class="header-title"><i></i></div>
    </header>
    <!-- free -->
    <div class="free">
        <div class="free-tabPanel">
            <ul class="free-ul">
                <li>
                    <a href="user.html" class="free-line">个人信息</a>
                </li>
                <li class="free-hit">
                    <a href="schedule.html" class="free-line">我的课表</a>
                </li>
                <li>
                    <a href="notice.html">最新公告</a>
                </li>
            </ul>
            <div class="free-pane">
                <div class="users">
<!--                     <div class="school">
    <div class="school-title">
        <span class="school-font1">我的班级</span>
        <span class="school-font2">
            （已入学 <i ng-bind="classNum" class="ng-binding">1</i>，未报名 <i ng-bind="4-classNum" class="ng-binding">3</i>）
        </span>
    </div>
    <ul class="course_ul">
        <li class="c_1">
            <div class="c_cont">
                <div class="co_pic">
                    <span ng-class="{dss_act:vip,not_act:!vip}" class="dss_act"></span>
                    <a ng-click="mycla.vip(vip)" href="javascript:" ng-bind="vipHtml" class="ng-binding">查看学习历程</a>
                </div>
            </div>
        </li>
        <li class="c_2">
            <div class="c_cont">
                <div class="co_pic">
                    <span ng-class="{dss_act:cyb,not_act:!cyb}" class="not_act"></span>
                    <a ng-click="mycla.cyb(cyb)" href="javascript:" ng-bind="cybHtml" class="ng-binding">立即咨询</a>
                </div>
            </div>
        </li>
        <li class="c_3">
            <div class="c_cont">
                <div class="co_pic">
                    <span ng-class="{dss_act:jyb,not_act:!jyb}" class="not_act"></span>
                    <a ng-click="mycla.jyb(hyb)" href="javascript:" ng-bind="jybHtml" class="ng-binding">立即咨询</a>
                </div>
            </div>
        </li>
        <li class="c_4">
            <div class="c_cont">
                <div class="co_pic">
                    <span ng-class="{dss_act:zcb,not_act:!zcb}" class="not_act"></span>
                    <a ng-click="mycla.zcb(zcb)" href="javascript:" ng-bind="zcbHtml" class="ng-binding">立即咨询</a>
                </div>
            </div>
        </li> -->

<!-- 旧的（老朱设计图） -->
<!--                             <div class="school-left">
    <p class="fontDa">新手开店班</p>
    <p>快速拥有你的店铺，12天升钻</p>
    <i class="icon1"></i>
</div>
<div class="school-right">
    <p class="fontDa">淘宝美工班</p>
    <p>三个月把你送入设计殿堂</p>
    <i class="icon1"></i>
</div>

<div class="school-left2">
    <p class="fontDa">高级运营班</p>
    <p>快速拥有你的店铺，12天升钻</p>
    <i class="icon2"></i>
</div>
<div class="school-right2">
    <p class="fontDa">电商精英班</p>
    <p>三个月把你送入设计殿堂</p>
    <i class="icon2"></i>
</div> -->

<!--                         </ul>
                    </div> -->
                </div>

                <div class="study">
                    <!-- tab切换 -->
                    <ul class="study-tab">
                        <li class="switch_one">
                            <div class="switch hit">
                                <a>940VIP班</a>
                                <img class="tabmark" src="content/images/schedule/up.png">
                            </div>
                        </li>
                        <li class="switch_two">
                            <div class="switch">
                                <a>创业班</a>
                                <img class="tabmark" src="content/images/schedule/up.png">
                            </div>
                        </li>
                        <li class="switch_three">
                            <div class="switch">
                                <a>精英班</a>
                                <img class="tabmark" src="content/images/schedule/up.png">
                            </div>
                        </li>
                        <li class="switch_four">
                            <div class="switch">
                                <a>总裁班</a>
                                <img class="tabmark" src="content/images/schedule/up.png">
                            </div>
                        </li>
                    </ul>
                    <!-- 下拉菜单 -->
                    <ul class="study-item">
                        <li class="switch_one" style="display: none;">
                            <ul>
                                <li>0基础学自然搜索</li>
                                <li>0基础学直通车</li>
                                <li>0基础学PS</li>
                                <li>VIP课程</li>
                            </ul>
                        </li>
                        <li class="switch_two" style="display: none;"></li>
                        <li class="switch_three" style="display: none;"></li>
                        <li class="switch_four" style="display: none;"></li>
                    </ul>

                    <div class="panes">
                        <div class="pane" style="display: block;">
                            <div class="pane-layer">
<!--                                 <div class="pane-cont pane-clr1">
    <div class="pane-icon iconClr1">
        <i class="pane-round roundClr1"></i>
    </div>
    <span class="pane-time">已学过</span>
    <span class="pane-text">（1）淘宝开店前的基本流程</span>
    <a>点此复习<i class="video2"></i></a>
</div>
<div class="pane-cont">
    <div class="pane-icon iconClr2">
        <i class="pane-round roundClr1"></i>
    </div>
    <span class="pane-time">未学过</span>
    <span class="pane-text">（2）支付宝认证和店铺安全设置</span>
    <a>点此复习<i class="video1"></i></a>
</div>
<div class="pane-cont">
    <div class="pane-icon iconClr2">
        <i class="pane-round roundClr1"></i>
    </div>
    <span class="pane-time">未学过</span>
    <span class="pane-text">（12）如何让淘宝搜素引擎爱上新品，卡在首页</span>
    <a>点此复习<i class="video1"></i></a>
</div>
<div class="pane-cont">
    <div class="pane-icon iconClr2">
        <i class="pane-round roundClr2"></i>
    </div>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video1"></i></a>
</div>
<div class="pane-cont">
    <div class="pane-icon iconClr2">
        <i class="pane-round roundClr1"></i>
    </div>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video1"></i></a>
</div>
 -->




<!-- 不需要的，请注释掉 -->
<!--                                 <div class="pane-cont pane-clr2">
    <span class="pane-icon iconClr3">
        <i class="pane-round roundClr3"></i>
    </span>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video2"></i></a>
</div>
<div class="pane-cont pane-clr2">
    <span class="pane-icon iconClr4">
        <i class="pane-round roundClr3"></i>
    </span>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video2"></i></a>
</div>
<div class="pane-cont pane-clr2">
    <span class="pane-icon iconClr4">
        <i class="pane-round roundClr3"></i>
    </span>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video2"></i></a>
</div>
<div class="pane-cont pane-clr2">
    <span class="pane-icon iconClr5">
        <i class="pane-round roundClr3"></i>
    </span>
    <span class="pane-time">未学过</span>
    <span class="pane-text">[第一节]——电子商务特点及优势</span>
    <a>点此复习<i class="video2"></i></a>
</div> -->
                            </div>
                        </div>
                        <div class="pane">
                            <div class="pane-layer">
                                222222222222222222222
                            </div>
                        </div>
                        <div class="pane">
                            <div class="pane-layer">
                                333333333333333333333
                            </div>
                        </div>
                        <div class="pane">
                            <div class="pane-layer">
                                444444444444444444444
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="footer-nav">
            <a href="index.html">
                <img src="content/images/940/footer_icon1.jpg" alt="返回首页">
            </a>
            <a href="aboutUs.html">
                <img src="content/images/940/footer_icon2.jpg" alt="关于我们">
            </a>
            <a href="courses.html">
                <img src="content/images/940/footer_icon3.jpg" alt="课程介绍">
            </a>
            <a href="enrolled.html">
                <img src="content/images/940/footer_icon4.jpg" alt="在线报名">
            </a>
            <a href="http://dht.zoosnet.net/LR/Chatpre.aspx?id=DHT88027214&lng=cn" class="footer-animation">
                <img src="content/images/940/footer_icon5.gif" class="footer-icon5" alt="在线咨询">
            </a>
        </div>
    </footer>

</div>

<!-- 判断用户是否登录 -->
<script type="text/javascript" src="scripts/js/newLogin.js"></script>
<script defer="defer">
    // 这个windo.onload的意思是等所有的dom  也就是div渲染完成（也就是加载完准备好。）然后再执行这段代码
    window.onload = function() {

        // tab切换
        $('.study .study-tab li').click(function() {
            $('.study .study-tab .switch').removeClass('hit');
            $(this).children().addClass('hit');
            $('.panes>div:eq(' + $(this).index() + ')').show().siblings().hide();
        });

        // 940VIP班
        function getTransformProperty(element) {
            var properties = ['transform', 'WebkitTransform',
                'MozTransform', 'msTransform',
                'OTransform'
            ];
            var p;
            while (p = properties.shift()) {
                if (element.style[p] !== undefined) {
                    return p;
                }
            }
            return false;
        }
        $.cssHooks['rotate'] = {
            get: function(elem, computed, extra) {
                var property = getTransformProperty(elem);
                if (property) {
                    return elem.style[property].replace(/.*rotate\((.*)deg\).*/, '$1');
                } else {
                    return '';
                }
            },
            set: function(elem, value) {
                var property = getTransformProperty(elem);
                if (property) {
                    value = parseInt(value);
                    $(elem).data('rotatation', value);
                    if (value == 0) {
                        elem.style[property] = '';
                    } else {
                        elem.style[property] = 'rotate(' + value % 360 + 'deg)';
                    }
                } else {
                    return '';
                }
            }
        };
        $.fx.step['rotate'] = function(fx) {
            $.cssHooks['rotate'].set(fx.elem, fx.now);
        };

        // 940VIP班（筛选菜单弹出收起）
        $('.study-tab li').click(function() {
            var mark = $(this).attr('class');
            var studyTab = $('.study-item .' + mark);
            if (studyTab.is(':visible')) {
                studyTab.hide();
            } else {
                studyTab.siblings().hide();
                studyTab.show();
                // 可能有旋转过去的旋转回来
                var arrowLi = $(this).siblings();
                $.each(arrowLi, function() {
                    var c = $(this).find(".tabmark").css('rotate');
                    if (c == '180') {
                        $(this).find(".tabmark").animate({
                            rotate: 0
                        });
                    }
                });


            }
            // 旋转箭头
            var trans = $(this).find(".tabmark").css('rotate');
            var num;
            if (trans == "") {
                num = 180;
            } else {
                num = 180 - trans;
            }
            $(this).find(".tabmark").animate({
                rotate: num
            });

        });

        $(".pane-layer .pane-cont").each(function(){
            $(this).find("a").click(function(e){
                //获取a的href
                var url=$(this).attr('data-play');
                //通过正则获取id=后面的数字
               /* var playurl=url.match(/id=.{3}/)[0].substr(3);*/
                var playdata = $.param({
                    v_id:url,
                    account:json_data.u
                });
                //阻止冒泡，组织a href的默认事件
                e.stopPropagation();
                e.preventDefault();
                //调用ajax请求http://www.940.com/play 接口 以便于请求时 click+1
                $.ajax({
                    type: "post",
                    url: 'http://www.940.com/play',
                    dataType:'jsonp',
                    data:playdata,
                    jsonp: 'callback',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function(data) {
                       console.log(data);
                    }
                });
                //在请求接口后  再跳转页面   为了在跳转页面之前请求click+1 成功。
               /* var  playurl=$(this).attr('href');
                window.location.href = playurl;*/
            });
        });

    };

</script>

</body>
</html>